<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Papillon - The Colorless Kingdom</title>
  <meta name="author" content="Big Red Pixel Studios" />
  <meta name="description" content="Papillon: The Colorless Kingdom is an action top down shoot 'em up mobile game inspired by Plants Vs. Zombies and  Splatoon. " />
  <meta name="keywords" content="indie, action, game, 2d, papillon, colorful, top down, shooter, kingdom, mobile, unity2D" />
  <meta name="Resource-type" content="Landing Page" />

  <link rel="apple-touch-icon" sizes="76x76" href="./favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="./favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="./favicon/favicon-16x16.png">
<link rel="manifest" href="./favicon/site.webmanifest">
<link rel="mask-icon" href="./favicon/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
    crossorigin="anonymous" />

  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="./css/main.css" />

</head>

<body>
  <div class="container section" id="section-main" style="">
    <div class="row" style="">
      <div class="col-lg-12">
        <img src="images/titlescreen-title.png" class="main-title img-fluid " alt="Papillon: The Colorless Kingdom title and subtitle" />
      </div>
    </div>

    <div class="row ">

      <div class="col-lg-6" style="margin-top:144px;">
        <img src="images/papillon-artwork.png" class="main-short img-fluid " alt="Papillon: The Colorless Kingdom fancy promotion image" />

      </div>
      <div class="col-lg-6 main-desc">


        <p style="" class="left-align">
          You wake up and see the colorful kingdom you once ruled,
          succumbed in the darkness of Lord Dorbae’s reign. Take a
          stand and fight back in a color-spilling battle against
          the cuddliest yet diabolical horde of monsters ever to
          step foot on your kingdom. Rejoice with your subjects
          while performing multi combo skill streaks, equip powerups
          and restore Papillon back to its rightful glory!
        </p>

        <button style="margin-top:32px;" class="left-align" id="open-popup" onclick="showMailingPopUp(); return false;">Join
          The Adventure</button>


      </div>



    </div>
  </div>
  
  </div>


  <div class="container section" id="section-1" style="">
    <div class="row text-center">
      <div class="col-lg-6">
        <div class="thumbnail">
          <img src="./images/shot1.png" alt="Papillon: The Colorless Kingdom in game screenshot 1" style="width:50%" />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="thumbnail">
          <img src="./images/shot2.png" alt="Papillon: The Colorless Kingdom in game screenshot 2" style="width:50%" />
        </div>
      </div>
    </div>
  </div>




  <div class="container footer" id="section-3" style="">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3 class="sectiont-title">Connect with us.</h3>
      </div>
    </div>
    <div class="row justify-content-center" style="margin-top:2rem; height:auto;">
      <!-- <div class="col-lg-2 text-center">
        <a href="http://fb.me/">
          <img class="social-media-icon" style="height:32px;" src="./images/facebook-f-brands.svg" alt="Facebook Social Media Icon" />
        </a>
      </div> -->
      <div class="col-lg-2 text-center">
        <a href="http://instagram.com/bigredpixelstudios/">
          <img class="social-media-icon" style="height:32px;" src="./images/instagram-brands.svg" alt="Facebook Social Media Icon" />
        </a>
      </div>
      <!-- <div class="col-lg-2 text-center">
        <a href="http://twitter.com/">
          <img class="social-media-icon" style="height:32px;" src="./images/twitter-brands.svg" alt="Facebook Social Media Icon" />
        </a>
      </div> -->
    </div>

    <div class="row" style="margin-top:2rem;">
      <div class="col-lg-12 text-center">
        <p style="display:block;">
          <a style="display:block;" class="brand-text" href="/files/newseon-brand-2018.zip" download="newseon-brand-2018">Press
            Kit</a>
          <a style="display:block;" class="brand-text" href="mailto:bigredpixelstudios@gmail.com">Get in touch at
            bigredpixelstudios@gmail.com</a>
        </p>

        <hr />
        <p class="copyright-text">Copyright 2019, Red Pixel Studios</p>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
    crossorigin="anonymous"></script>


  <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
  <script>
    function showMailingPopUp() {
      require(
        ["mojo/signup-forms/Loader"],
        function (L) {
          L.start({
            "baseUrl": "mc.us20.list-manage.com",
            "uuid": "054a861296f85cd4501edfec6",
            "lid": "72cc22e1ed"
          })
        }
      );

      document.cookie = 'MCPopupClosed=;path=/;expires=Thu, 01 Jan 1970 00:00:00 UTC;';
      document.cookie = 'MCPopupSubscribed=;path=/;expires=Thu, 01 Jan 1970 00:00:00 UTC;';
    }

    document.getElementById("open-popup").onclick = function () {
      showMailingPopUp()
    };
  </script>




</body>

</html>