<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Papillon - The Colorless Kingdom</title>
    <meta name="author" content="Alvaro Trigo Lopez" />
    <meta name="description" content="fullPage full-screen backgrounds." />
    <meta
      name="keywords"
      content="fullpage,jquery,demo,screen,fullscreen,backgrounds,full-screen"
    />
    <meta name="Resource-type" content="Document" />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
      integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
      crossorigin="anonymous"
    />

    <link
      href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="./css/main.css" />
    <style>
      /* Style for our header texts
	* --------------------------------------- */
      h1 {
        font-size: 5em;
        font-family: arial, helvetica;
        color: #000;
        margin: 0;
        padding: 0;
      }

      /* Centered texts in each section
	* --------------------------------------- */
      .section {
        text-align: center;
      }

      /* Backgrounds will cover all the section
	* --------------------------------------- */
      .section {
        background-size: cover;
        background-color: #fff;
      }

      .slide {
        background-size: cover;
      }

      /* Defining each sectino background and styles
	* --------------------------------------- */
      /* #section0{
        bottom:20px;
		background-image: url("./images/titlescreen-mountains.png");
  background-position: bottom; 
  background-size: 100% 100%;            
    background-repeat:   no-repeat;
	}
	#section0 .container{
        top:45%;
		transform: translateY(-50%);
		position: relative;
    } */
      /* #section1 .container{
        top:45%;
		transform: translateY(-50%);
		position: relative;
    } */

      .section {
        margin-top: 180px;
        height: 768px;
        margin-bottom: 180px;
      }

      /* Bottom menu
	* --------------------------------------- */
      #infoMenu li a {
        color: #fff;
      }
    </style>



  </head>

  <body>
      <div class="section " id="section0">
        <div class="container">
          <div class="row" style="">
            <div class="col-md-12">
              <img
                src="images/titlescreen-title.png"
                class="main-short img-fluid "
                alt="Responsive image"
              />
            </div>
          </div>

          <div class="row text-center">
            <div class="col-md-8 offset-md-2" style="margin-top:144px;">
              <form action="/action_page.php">
                  <div>
                    <p style="">
                      You wake up and see the colorful kingdom you once ruled,
                      succumbed in the darkness of Lord Dorbae’s reign. Take a
                      stand and fight back in a color-spilling battle against
                      the cuddliest yet diabolical horde of monsters ever to
                      step foot on your kingdom. Rejoice with your subjects
                      while performing multi combo skill streaks, equip powerups
                      and restore Papillon back to its rightful glory!
                    </p>


                    <div style="width:100%">
                            <div style="text-align:left; display: table;
                            margin: 60px auto;">
                        
                    <h2 style="font-size:20px;">
                      Sign up to join the adventure.
                    </h2>
                        <input
                          type="text"
                          name="email"
                          value=""
                          placeholder="Enter your email address"
                        />
                      
                
                      <button type="submit" value="" style="">Subscribe</button>
                    </div> </div>
                </div>
              </form>
            </div>


          </div>
        </div>
      </div>
      <!-- <div class="section" id="section1">

            <div class="container">
                <div class="row" style="">
                    <div class="col-md-12">

                        <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/b71Hbk_DMdQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

      <!-- <div>
            <ul>
                <li><a class="twitter" target="_blank" href="http://www.twitter.com/altosadventure">Twitter</a></li>
                <li><a class="facebook" target="_blank" href="http://www.facebook.com/altosadventure">Facebook</a></li>
                <li><a class="instagram" target="_blank" href="http://www.instagram.com/altosadventure">Instagram</a></li>
            </ul>
        </div> -->
    </div>


    
    <div class="section " id="section1">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-6">
          <div class="thumbnail">
            <img src="./images/shot1.png" alt="Lights" style="width:50%" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="thumbnail">
            <img src="./images/shot2.png" alt="Lights" style="width:50%" />
          </div>
        </div>
      </div>
    </div>
</div>
    


<button id="open-popup">Subscribe to our mailing list</button>


    <div id="section3">
      <div class="intro">
        <section id="section-footer">
          <div class="container">
            <div class="row">
              <div class="col-md-12 text-center"><h3>Connect with us.</h3></div>
            </div>
            <div class="row justify-content-center" style="margin-top:2rem;">
              <div class="col-md-2 text-center">
                <a href="http://fb.me/">
                  <img
                    class="social-media-icon"
                    style="height:32px;"
                    src="./images/facebook-f-brands.svg"
                    alt="Facebook Social Media Icon"
                  />
                </a>
              </div>
              <div class="col-md-2 text-center">
                <a href="http://twitter.com/">
                  <img
                    class="social-media-icon"
                    style="height:32px;"
                    src="./images/twitter-brands.svg"
                    alt="Facebook Social Media Icon"
                  />
                </a>
              </div>
              <div class="col-md-2 text-center">
                <a href="http://instagram.com/">
                  <img
                    class="social-media-icon"
                    style="height:32px;"
                    src="./images/instagram-brands.svg"
                    alt="Facebook Social Media Icon"
                  />
                </a>
              </div>
            </div>

            <div class="row" style="margin-top:2rem;">
              <div class="col-md-12 text-center">
                <p style="display:block;">
                  <a
                    style="display:block;"
                    class="brand-text"
                    href="/files/newseon-brand-2018.zip"
                    download="newseon-brand-2018"
                    >Press Kit</a
                  >
                  <a
                    style="display:block;"
                    class="brand-text"
                    href="mailto:bigredpixelstudios@gmail.com"
                    >Get in touch</a
                  >
                </p>

                <hr />
                <p class="copyright-text">Copyright 2019, Red Pixel Studios</p>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
      integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
      integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
      integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
      crossorigin="anonymous"
    ></script>


    
  </body>
</html>
